ion-toolbar {
    --background: #086DB5;
    --color: white;
    --min-height: 80px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.container {
    margin: 50px;
}

.paraf {
    border-bottom: 1px solid black; 
    margin-top: 20%; 
    width: 40%;
}
