<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-padding">Gratifikasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">


    <p style="text-align: justify;">
      Tahukah kamu bahwa tidak semua Gratifikasi itu dilarang? <br><br>Gratifikasi yang diterima oleh Pegawai Negeri atau Penyelenggaran Hingga terbagi menjadi dua kategori 
    </p>

    <ol style="margin-left: -15px;">
      <li>
        Gratifikasi yang wajib dilaporkan  
      </li>
      <li>
        Gratifikasi yang tidak wajib dilaporkan 
      </li>
    </ol>

    <p>
      Gratifikasi yang tidak wajib dilaporkan yaitu: 
    </p>

    <ol style="margin-left: -15px;">
      <li>Pemberian dalam keluarga yaitu kakek atau nenek, bapak, Ibu, mertua, suami atau istri ,anak , menantu, keponakan, sepanjang tidak terdapat konflik kepentingan. </li>
      <li>keuntungan atau bunga dari penempatan dana. </li>
      <li>Investasi atau kepemilikan saham pribadi yang berlaku umum. </li>
      <li>Manfaat dari koperasi, organisasi kepegawaian, atau organisasi yang sejenis berdasarkan keanggotaan yang berlaku umum. </li>
      <li>Perangkat atau perlengkapan yang diberikan kepada peserta dalam kegiatan kedinasan seperti seminar , workshop, konferensi, pelatihan, atau sejenis yang berlaku umum </li>
      <li>Hadiah tidak dalam bentuk uang atau alat tukar lainnya yang dimaksud sebagai alat promosi atau sosialisasi yang menggunakan logo atau pesan sosialisasi, sepanjang tidak memiliki konflik kepentingan dan berlaku umim </li>
      <li>Hadiah, apresiasi atau penghargaan dari kejuaraan, perlombaan atau kompetisi yang diikuti dengan biaya sendiri dan tidak terkait dengan kedinasan. </li>
      <li>Penghargaan baik berupa uang atau barang yang ada kaitannya dengan peringkatan prestasi kerja yang diberikan oleh pemerintah sesuai dengan peraturan perundang-undangan yang berlaku. </li>
      <li>Hadiah langsung atau undian, diskon atau rabat,voucher, point rewards, atau suvenir yang berlaku umum dan tidak terkait kedinasan. </li>
      <li>Kompensasi atau honor atas profesi di luar kegiatan kedinasan yang tidak terkait dengan tugas dan kewajiban sepanjang tidak terdapat konflik kepentingan dan tidak melanggar peraturan atau kodek etik pegawai atau pejabat yang bersangkutan. </li>
      <li>Kompensasi yang diterima terkait kegiatan kedinasan seperti honorarium ,transpotasi, akomondasi dan pembiayaan yang telah ditetapkan dalam standar biaya yang berlaku di instansi penerima Gratifikasi. </li>
      <li>Karangan bunga sebagai ucapan yang diberikan dalam acara seperti pertunangan, pernikahan, kelahiran ,kematian , akikah ,baptis ,khitanan ,potong gigi , atau upacara adat atau agama lainnya, pisah sambut , pensiun ,promosi ,jabatan. </li>
      <li>Pemberian terkait dengan pertunangan, pernikahan , kelahiran , akikah ,baptis ,khitanan , potong gigi, atau upacara adat atau agama lainnya dengan batasan nilai sebesar Rp 1.000.000,00 (satu juta rupiah) setiap pemberi. </li>
      <li>Pemberian terkait dengan musibah atau bencana yang dialami oleh diri penerima gratifikasi, suami, istri , anak , bapak ,ibu , mertua atau menantu penerima Gratifikasi sepanjang tidak terdapat konflik kepentingan, dan memenuhi kewajaran dan kepatutan. </li>
      <li>Pemberian sesama rekan kerja dalam rangka pisah sambut, pensiun ,mutasi jabatan, atau ulang tahun yang tidak dalam bentuk uang atau alat tukar lainnya. </li>
      <li>Pensiun, mutasi jabatan atau ulang tahun yang tidak dalam bentuk uang atau alat tukar lainnya. Paling banyak senilai Rp 300.000,00 (tiga ratus ribu rupiah) setiap pemberian per orang dengan total pemberian tidak melebihi Rp 1.000.000,00 (satu juta rupiah) dalam satu 1 (satu) tahun dari pemberi yang sama, sepanjang tidak terdapat konflik kepentingan. </li>
      <li>Pemberian sesama rekam kerja yang tidak dalam bentuk uang atau alat tukar lainnya, dan tidak terkait kedinasan paling banyak senilai Rp 200.000,00 (dua ratus ribu rupiah) setiap pemberian per orang dengan total pemberian tidak melebihi Rp 1.000.000,00 (satu juta rupiah) dalam 1 (satu) tahun dari pemberi yang sama. </li>
      <li>Pemberian berupa hidangan atau sajian yang berlaku umum. </li>
      <li>Pemberian Cendera mata atau plakat kepada instansi dalam rangka hubungan kedinasan dan kenegaraan, baik di dalam negeri maupun luar negeri sepanjang tidak diberikan untuk individu Pegawai Negeri atau Penyelenggara Negara. </li>
    </ol>
    

      <div class="btn-padding">
        <ion-button  expand="block" (click)="next()">Next</ion-button>
      </div>

    
  </div>
</ion-content>

