<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      Conflict Of Interest Detail
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
  
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="header-title">
      <h4 style="font-weight: bold;">Saya bertanda tangan di bawah ini:</h4>
      <p>
       Nama Lengkap : {{user.userName}} <br>
       Nopek : {{user.noPek}} <br>
       Perusahaan : {{user.perusahaan}} <br>
       Jabatan : {{user.jabatan}}
      </p>

      <p>
        Dengan ini menyatakan bahwa saya secara pribadi:
      </p>

      <p>
        <b>
          Tidak Mempunyai
        </b>
        konflik kepentingan dalam melaksanakan tugas, kewajiban dan kewenangan berdasarkan jabatan tersebut.
      </p>

      <p>
        Adapun konflik kepentingan yang saya miliki adalah sebagai berikut:
      </p>

      <p>
        Jakarta, Kamis 05 Oktober 2023 <br>
        Yang Membuat Pernyataan,
      </p>

      <div class="paraf">
        <img #parafImage src="" alt="">
      </div>

      <p>
        Nama Lengkap : {{user.userName}} <br>
        Nopek : {{user.noPek}} <br>
        Perusahaan : {{user.perusahaan}} <br>
        Jabatan : {{user.jabatan}}
       </p>
      
       <ion-button class="submit-button" expand="block" (click)="doSubmit()">Save Data</ion-button>
      
    </div>
  </div>
 
</ion-content>


