<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-padding">Compliance Online System</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <div class="ion-text-center" style="margin-bottom: -28px;">
      <img width="155" height="auto" src="/assets/quiz-icon.png"/>
    </div>

    <div style="margin-left: 10px;">
      <p class="ion-text-justify" style="font-weight: bold; margin-right: 16px;">
        7/10 Sejak Menerima Gratifikasi, pekerja Pertamina wajib melaporkan ke UPG maksimal dalam waktu
      </p>
    </div>

    <ion-radio-group [(ngModel)]="selectedFood" (ionChange)="handleChange($event)">
      <ion-card *ngFor="let food of foods; trackBy: trackItems" 
                [ngClass]="{'selected-card': selectedFood?.id === food.id}">
        <ion-item>
          <!-- Add ion-text-wrap for long text -->
          <ion-label class="ion-text-wrap">{{ food.name }}</ion-label>
          <ion-radio slot="start" [value]="food"></ion-radio>
        </ion-item>
      </ion-card>
    </ion-radio-group>
  </ion-list>

  <div class="btn-padding" style="margin-left: 12px; margin-right: 12px;">
    <ion-button  expand="block" (click)="next()">Next</ion-button>
  </div>
</ion-content>

