<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-padding">Code of Conduct</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">

    <p style="text-align: justify;">
      Maksud dan tujuan ditetapkannya pedoman perilaku & etika bisnis adalah sebagai bentuk komitmen bersama untuk mewujudkan visi dan melaksanakan misi perusahaan dengan berlandaskan pada prinsip Tata Kelola Perusahaan yang Baik (Good Corporate Governance). Code of Conduct adalah panduan perilaku berintegritas bagi seluruh Perwira PIS yang harus dipatuhi dan dijadikan pegangan dalam melaksanakan segala aktivitas Perusahaanuntuk meminimalkan peluang terjadinya penyimpangan dan menghindari benturan kepentingan dalam melaksanakan aktivitas Perusahaan serta untuk mewujudkan hubungan yang baik dengan pemangku kepentingan.  
    </p>

    <p style="text-align: justify;">
      Pihak yang wajib mematuhi Pedoman Perilaku adalah Perwira PIS termasuk Direksi, Dewan Komisaris, Pekerja Waktu Tertentu, Pekerja Waktu Tidak Tertentu dan Tenaga Kerja Jasa Penunjang serta Pihak Eksternal yang bertindak untuk dan atas nama Pertamina, Anak Perusahaan dan Stuktur Perusahaan di bawahnya yaitu badan hukum atau usaha lain yang dikendalikan oleh Pertamina baik secara langsung maupun tidak langsung, serta Mitra Kerja yang bekerja sama dengan PT Pertamina. 
    </p>

    <b style="font-size: 14px;">
      BAB I – Operasional yang Memenuhi HSSE 
    </b>
    <p>
      Perseroan berkomitmen untuk melaksanakan kegiatan operasi secara aman dan berwawasan lingkungan dengan menerapkan standar tinggi terhadap aspek kesehatan kerja, keselamatan, keamanan, dan lindungan lingkungan dengan:  
    </p>
    <ol style="margin-left: -15px;">
      <li>Mengutamakan aspek-aspek HSSE; </li>
      <li>Melakukan identifikasi evaluasi, pengendalian dan pemantauan terhadap potensi bahaya dan ancaman;  </li>
      <li>Mematuhi peraturan terkait HSSE; </li>
      <li>Meningkatkan kesadaran dan kompetensi HSSE; </li>
      <li>Menjadikan HSSE sebagai penilaian kerja. </li>
    </ol>

    <b style="font-size: 14px;">
      BAB II – Sumber Daya Manusia Intergritas dalam Bekerja 
    </b>
    <p style="text-align: justify;">
      Perseroan berkomitmen untuk menjalankan kegiatan usaha secara beringeritas & professional. Pelaksanaan komitmen tersebut dilakukan dengan menghindari benturan kepentingan, tidak mentoleransi suap, menjunjung tinggi kepercayaan dan berpedoman kepada asas-asas Good Corporate Governance, mematuhi hukum, menghindari conflict of interest, tidak menerima atau memberikan gratifikasi, serta tidak terlibat korupsi, kolusi & nepotisme. 
    </p>

    <p style="text-align: justify;">
      Perseroan meyakini kunci sukses pertamina adalah profesionalisme Perwira PIS dalam bekerja. Hal tersebut adalah komitmen Perseroan untuk meningkatkan daya saing dan memberikan pelayanan terbaik kepada pelanggan.  
    </p>

    <p style="text-align: justify;">
      Kewajiban pimpinan dan pekerja adalah hormat & santun kepada pimpinan, serta loyal kepada perusahaan, patuh terhadap ketentuan yang berlaku di internal perusahaan, serta tidak melakukan tindakan yang diluar kewenangan, mematuhi Peraturan Perusahaan, serta disiplin waktu. 
    </p>

    <p style="text-align: justify;">
      Kewajiban bagi pimpinan yaitu menjadi role model, melakukan koordinasi,menjalin hubungan kerja sama yang harmonis dengan tim kerjanya, mendorong perkembangan diri bawahan,mengedepankan objektifitas dalam penilaian, tidak memanfaatkan jabatan untuk kepentingan pribadi, dan memberikan kesempatan karier yang sama. 
    </p>

    <p style="text-align: justify;">
      Perseroan berkomitmen untuk menjamin setiap pekerja memiliki kesempatan karier yang sama untuk mengembangkan karier sesuai dengan kualifikasi dan kualitas kinerjanya. Perseroan menyediakan pelatihan dan pendidikan untuk mengembangkan karir bagi semua pekerja yang didukung oleh ketentuan internal perusahaan. 
    </p>

    <p style="text-align: justify;">
      Perusahaan berkomitmen untuk menciptakan lingkungan kerja yang bebas diskriminasi.,  Perusahaan tidak akan membiarkan terjadinya diskriminasi terhadap seorang karena etnis, ras, kebangsaan, agama, jenis kelamin, usia, keadaan cacat atau alasan lainnya.  
    </p>

    <b style="font-size: 14px;">
      BAB III – Komitmen kepada Mitra Kerja & Pelangganan 
    </b>
    <p style="text-align: justify;">
      Perseroan berkomitmen menciptakan nilai tambah dengan berorientasi pada keuntungan perusahaan dan mengambil keputusan berdasarkan prinsip-prinsip bisnis yang sehat, sesuai dengan undang-undang larangan praktik monopoli dan persaingan usaha tidak sehat. Setiap Perwira PIS memiliki tanggung jawab yaitu menjalankan bisnis sesuai perundang-undangan, melakukan praktik bisnis yang beretika, melaksanakan proses pengadaan barang dan jasa yang transparan sesuai dengan ketentuan yang berlaku di perseroan, serta mematuhi ketentuan perusahaan yang mengatur mengenai pemberian dan/atau penerimaan hadiah, jamuan makan, dan hiburan. 
    </p>

    <p style="text-align: justify;">
      Perseroan menjujung tinggi integritas dan profesionalisme dan tidak mentoleransi suap.  Perwira PIS wajib memperhatikan ketentuan pedoman gratifikasi yang berlaku di Perseroan. Perseroan berkomitmen untuk mencegah tindak pidana pencucian uang terjadi di lingkungan Pertamina. Dukungan yang dapat dilakukan oleh Perwira PIS adalah: 
    </p>

    <ol style="margin-left: -15px;">
      <li>Wajib mematuhi perundang-undangan terkait dengan tindak pidana pencucian uang; </li>
      <li>Wajib waspada terhadap transaksi keuangan yang mencurigakan. </li>
    </ol>

    <p style="text-align: justify;">
      Perseroan berorientasi kepada kepentingan pelanggan dan berkomitmen untuk memberikan pelayanan terbaik kepada pelanggan. Perseroan menempatkan pelanggan atau konsumen sebagai mitra strategis.  
    </p>

    <b style="font-size: 14px;">
      BAB IV - Komitmen Kepada Pemangku Kepentingan 
    </b>

    <p style="text-align: justify;">
      Perseroan berkomitmen untuk mendukung pembangunan ekonomi nasional dan menjadi kebanggaan bangsa. Perseroan berkomitmen untuk membangun hubungan yang saling menguntungkan dengan para pemangku kepentingan dengan berlandaskan prinsip-prinsip GCG untuk menghasilkan nilai tambah bagi seluruh pemangku kepentingan. 
    </p>

    <p style="text-align: justify;">
      Perwira PIS dituntut untuk bersikap profesional dalam berhubungan dengan pemangku kepentingan (stakeholder). 
    </p>

    <p style="text-align: justify;">
      Corporate Social Responsibility memiliki tanggung jawab sosial dan lingkungan untuk manfaat bagi masyarakat di tempat kegiatan bisnis. Perwira PIS terlibat pada tanggung jawab sosial dan lingkungannya untuk pemberdayaan masyarakat dan pelestarian alam.  
    </p>

    <p style="text-align: justify;">
      Perseroan menghormati hak berpolitik dan berserikat Perwira PIS. Perseroan melarang Perwira PIS untuk membawa, memasang, mempertontonkan, serta mengenakan simbol, gambar & atau ornamen partai politik di lingkungan perusahaan. Di samping itu, Perwira PIS juga dilarang untuk memberikan sumbangan serta bantuan lain yang mengatasnamakan perusahaan. Perwira PIS dapat menjadi pengurus Partai Politik dan/atau calon/anggota legislatif atau calon/Pimpinan Daerah/ Pemerintahan dengan mengajukan PHK sebagai Pekerja atau diakhiri hubungan kerjanya dengan Perseroan. 
    </p>

    <p style="text-align: justify;">
      Perusahaan mendukung Perwira PIS untuk berpartisipasi aktif dalam kegiatan organisasi profesi atau organisasi sosial lainnya yang memberikan manfaat bagi Pertamina. <br>Perseroan berkewajiban untuk menyajikan layanan informasi publik sesuai dengan peraturan perundang-undangan yang berlaku. Perseroan telah menetapkan pedoman pengelolaan pelayanan informasi publik sebagai standar layanan bagi masyarakat. Hanya Perwira PIS yang memiliki kewenangan sesuai dengan pedoman pengelolaan layanan informasi publik diperkenankan menyampaikan informasi publik. 
    </p>

    <b style="font-size: 14px;">
      BAB V - Perlindungan Terhadap Aset Perseroan 
    </b>

    <p style="text-align: justify;">
      Perseroan berkomitmen untuk menjaga seluruh aset Perseroan untuk digunakan sesuai dengan ketentuan yang berlaku. Perseroan berkomitmen untuk melindungi data dan informasi yang merupakan aset penting dari akses pihak luar perseroan yang tidak berkepentingan.  
    </p>
    <p style="text-align: justify;">
      Perseroan berkomitmen untuk mengembangkan ide-ide dan pengetahuan sebagai aset berharga yang memberikan kontribusi bagi daya saing dan keuntungan perseroan. Perseroan berkomitmen untuk menjaga properti intelektual dari pihak-pihak yang tidak berwenang. Perwira PIS juga harus menghormati dan menghargai hak atas kekayaan intelektual serta menaati peraturan Perundang-undangan yang mengatur hak kepemilikan kekayaan intelektual. 
    </p>
    <p style="text-align: justify;">
      Perseroan berkomitmen untuk menjaga seluruh aset perusahaan agar kegiatan bisnis atau operasionalnya berjalan dengan bersih sesuai dengan tata nilai AKHLAK yang berlaku di Perseroan. Setiap Perwira PIS wajib berpartisipasi aktif melaporkan setiap dugaan terjadinya kecurangan yang diketahuinya. Pelaporan dilakukan dengan didukung data yang relevan dan ditujukan untuk kepentingan perusahaan, bukan bertujuan untuk menjatuhkan seseorang. 
    </p>

    <form [formGroup]="sociallizationForm">
      <ion-input style="display: none;" formControlName="Nopek" id="Nopek" value="Nopek"></ion-input>
      <ion-input style="display: none;" formControlName="Nama" id="Nama" value="Nama"></ion-input>
      <ion-input style="display: none;" formControlName="StatusSgcg" id="StatusSgcg" value="StatusSgcg"></ion-input>
      <!-- <p>
       <ion-button class="submit-button" expand="block" (click)="doSubmit()">Confirm</ion-button>
        Button konfirmasi bisa di klik ketika anda sudah membaca pdf di atas
     </p> -->
     <div class="btn-padding">
      <ion-button  expand="block" (click)="doSubmit()">Confrim</ion-button>
    </div>
    </form>

 

  </div>
</ion-content>

