ion-toolbar {
    --background: #086DB5;
    --color: white;
  
    --min-height: 80px;
    --padding-top: 20px;
    --padding-bottom: 20px;
}

.container {
    margin: 50px;
}

.videoPlayer {
    width: 100%;
    margin-bottom: 30px;
}

.btn-padding {
    margin-top: 40px;
}