<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button defaultHref="#"></ion-back-button> -->
    </ion-buttons>
    <ion-title style="text-align: center;">
      Sosialisasi GCG
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <!-- Konten tombol -->
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <div>
      <h5 style="font-weight: 700;">{{videoData[currentVideoIndex].title}}</h5>
      <video #videoPlayer controls preload="metadata" webkit-playsinline="webkit-playsinline" style="width: 100%;">
        <source [src]="videoData[currentVideoIndex].source" type="video/mp4" />
      </video>
    </div>
  </ion-item>
  <div class="container">
    <div class="header-title">
      <ion-button class="submit-button" expand="block" (click)="playNextVideo()" [disabled]="!isCurrentVideoComplete">Next</ion-button>
    </div>
  </div>
</ion-content>