<ion-toolbar>
  <ion-buttons slot="start">
    <img (click)="navigateTo('/conflict-of-interest')" src="/assets/logopis.png" alt="">
  </ion-buttons>

  <ion-title class="title-with-image"></ion-title>

  <ion-buttons slot="end">
    <ion-button (click)="logout()">
      <!-- <ion-icon name="settings-outline"></ion-icon> -->
      <!-- Logout Button -->
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <ion-grid class="container">
    <ion-row>
      <ion-col size="6" *ngFor="let item of imageItems">
        <!-- <ion-card class="rounded-card"> -->
          <img [src]="item.imageUrl" alt="" class="responsive-image" (click)="navigateTo(item.url)">
        <!-- </ion-card> -->
        <!-- <div class="title">{{item.title}}</div> -->
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
